<app-layout></app-layout>


<clr-modal [(clrModalOpen)]="openModal">
    <h3 class="modal-title">I have a nice title</h3>
    <div class="modal-body">
        <p>But not much to say...</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="basic = false">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="basic = false">Ok</button>
    </div>
</clr-modal>

<button class="btn-outline" (click)="openModal = true">Open Modal</button>